@font-face {
    font-family: 'Gilroy ExtraBold';
    src: url('../fonts/gilroyextrabold.woff'),
         url('../fonts/gilroyextrabold.woff2');
}

@font-face {
    font-family: 'Gilroy Light';
    src: url('../fonts/gilroylight.woff'),
         url('../fonts/gilroylight.woff2');
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans.woff'),
         url('../fonts/opensans.woff2');
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/opensanslight.woff'),
         url('../fonts/opensanslight.woff2');
}

body{
    min-width: 1160px;
    margin: 0 auto;
    padding: 0;
    padding-top: 40px;

    font-family: "Open Sans Light", Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    color: #464646;
    background-color: #ffffff;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* HEADER---------------------------------------------------------------------- */

.main-header{
    width: 1160px;
    position: relative;
    margin: 0 auto;
    padding-top: 43px;
    box-sizing: border-box;
    color: #000000;
    background-color: #f7e296;
}

.wrapper{
    width: 1040px;
    margin: 0 auto;
    padding: 0;
}

.main-header-logo{
    position: absolute;
    top: -18px;
}

.main-header-logo:hover svg,
.footer-logo:hover svg{
    opacity: 0.6;
}

.main-header-logo:focus svg,
.footer-logo:focus svg{
    opacity: 0.3;
}

.user-navigation-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 35px;
    padding: 0;
    list-style: none;
}

.user-navigation-list a{
    color: #000000;
}

.header-user-icon{
    width: 13px;
    height: 12px;
    margin-right: 10px;
}

.header-compare-icon{
    width: 10px;
    height: 10px;
    margin-right: 7px;
}

.header-cart-icon{
    width: 12px;
    height: 12px;
    margin-right: 7px;
}

.user-navigation{
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.user-navigation li{
    vertical-align: middle;
}

.user-navigation li:first-child{
    width: 274px;
}

.user-navigation li:last-child{
    margin-left: 30px;
}

.logout-link{
    margin-left: 19px;
    color: #000000;
    opacity: 0.3;
}

.logout-link:focus{
    color: #000000;
}

.site-navigation-list a,
.main-catalog-list a{
    display: block;
    color: #000000;
}

.user-navigation a{
    color: #000000;
}

.user-navigation-list a:hover,
.user-navigation a:hover,
.site-navigation-list a:hover,
.main-catalog-list a:hover{
    color: #000000;
    opacity: 0.6;
}

.user-navigation-list a:focus,
.user-navigation a:focus,
.site-navigation-list a:focus,
.main-catalog-list a:focus{
    color: #000000;
    opacity: 0.3;
}

.user-navigation a:hover + .header-icon{
    opacity: 0.6;
}

.user-navigation a:focus + .header-icon{
    opacity: 0.3;
}

.search-form{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 356px;
    margin: 0;
    padding: 0;
}

.search-input{
    width: 100%;
    padding-left: 40px;
    font:inherit;
    color: rgba(0, 0, 0, 0.3);
    background-color: #f7e296;
    border: none;
}

.search-input:hover{
    color: rgba(0, 0, 0, 0.6);
}

.search-input:focus{
    color: #000000;
}

.search-label{
    position: absolute;
    top: 8px;
    left: 2px;
    width: 16px;
    height: 16px;
    background-image: url('../img/search.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
}

.search-label::before{
    content: "";
    position: absolute;
    bottom: -16px;
    left: 0;
    display: none;
    width: 400px;
    height: 2px;
    background-color: #000000;
}

.search-button{
    visibility: hidden;
    position: absolute;
    top: -9px;
    left: 330px;
    width: 85px;
    padding: 7.5px 0;
    font: inherit;
    background-color: #f7e296;
    border: 2px solid #000000;
}

.search-button:hover{
    color: #ffffff;
    background-color: #000000;
}

.search-button:focus{
    color: rgba(255, 255, 255, 0.3);
    background-color: #000000;
}

.search-input:focus + .search-button{
    visibility: visible;
}

.search-input:focus ~ .search-label::before{
    display: block;
}

.site-navigation-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
    list-style: none;
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 3.6px;
    text-transform: uppercase;
}

.site-navigation-list > li:first-child{
    position: relative;
    margin-right: 250px;
}

.site-navigation-list > li:last-child{
    margin-left: 68px;
}

.main-catalog-list {
    display: none;
    position: absolute;
    top: 40px;
    left: -60px;
    z-index: 3;
    width: 1100px;
    margin: 0;
    padding: 0;
    padding-left: 60px;
    padding-bottom: 40px;
    list-style: none;
    font-family: 'Open Sans Light', Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 2.4;
    letter-spacing: 0.2px;
    text-transform: none;
    background-color: #f7e296;
}

.catalog-list-item{
    padding: 0;
    padding-right: 60px;
    margin: 0;
    margin-top: -10px;
    margin-right: 0px;
}

.catalog-link{
    padding-bottom: 20px;
    padding-right: 30px;
}

.catalog-link:hover + .main-catalog-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.main-catalog-list:hover{
    display: flex;
}

.catalog-link::after{
    content: '';
    position: absolute;
    bottom: 24px;
    right: -4px;
    width: 16px;
    height: 16px;
    background-image: url('../img/plus.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
    opacity: 0.3;
}

.page-content{
    margin-bottom: 90px;
}

.container{
    width: 1160px;
    margin: 0 auto;
}

.columns{
    position: relative;
    margin: 0;
    padding: 0;
    padding-top: 62px;
    display: flex;
    justify-content: space-between;
}

.columns h2{
    margin: 0;
    padding: 0;
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 1.02;
    letter-spacing: 0.5px;
    text-align: left;
    color: #000000;
}

.columns p{
    margin: 0;
    padding: 0;
}

.columns ul{
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 2.5;
    color: #000000;
}

.aboutUs{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 480px;
}

.aboutUs::before{
    position: absolute;
    top: -52px;
    left: 0px;
    width: 80px;
    height: 7px;
    background-color: #000000;
    content: "";
}

.aboutUs h2{
    margin-bottom: 43px;
}

.aboutUs p{
    margin-bottom: 30px;
}

.aboutUs p:nth-of-type(2){
    margin-bottom: 66px;
}

.aboutUs ul{
    margin: 0;
    margin-bottom: 62px;
    padding: 0;
    list-style: none;
}

.aboutUs ul li{
    position: relative;
    padding-left: 36px;

}

.aboutUs ul li::before{
    content: '';
    position: absolute;
    top: 15px;
    left: 0;
    width: 8px;
    height: 8px;
    background-image: url('../img/slider-button-empty.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
}

.about-button{
    width: 260px;
}

.contacts{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 560px;
}

.contacts::before{
    position: absolute;
    top: -52px;
    left: 0px;
    width: 80px;
    height: 7px;
    background-color: #000000;
    content: "";
}

.contacts h2{
    margin-bottom: 43px;
}

.contacts p{
    margin-bottom: 39px;
}

.contacts-map{
    margin-bottom: 68px;
}

.button{
    position: relative;
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: 3.6px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    background: none;
    border: none;
    cursor: pointer;
}

.button::after{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    width: 100%;
    height: 8px;
    content: '';
    background-color:#f0c52e;
    transform: translate(-50%, -50%);
}

.button:hover::after,
.button:focus::after{
    height: 40px;
}

.button:focus{
    opacity: 0.3;
}

.catalog-container{
    margin: 0;
    padding: 0;
    padding-top: 37px;
    box-sizing: border-box;
}

.page-title{
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 1.02;
    letter-spacing: 0.5px;
    text-align: left;
    color: #000000;
}

.breadcrumbs{
    display: flex;
    margin: 0;
    margin-bottom: 44px;
    padding: 0;
    list-style: none;
}

.breadcrumbs li{
    position: relative;
    margin-right: 39px;
}

.breadcrumbs li:last-child{
    margin-right: 0;
}

.breadcrumbs li::after{
    content: '';
    position: absolute;
    bottom: 10px;
    right: -18px;
    width: 4px;
    height: 7px;
    background-image: url('../img/nav-arrow.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
}

.breadcrumbs li:last-of-type::after {
    display: none;
}

.breadcrumbs a{
    font-family: 'OpenSans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    letter-spacing: 0.1px;
    text-align: left;
    color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover{
    color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:focus{
    color: rgba(0, 0, 0, 0.1);
}

.catalog-columns{
    width: 1440px;
    display: flex;
    margin: 0 auto;
    padding: 0;
}

.filters{
    display: flex;
    justify-content: flex-end;
    width: 468px;
    margin: 0;
    padding: 0;
    padding-top: 80px;
    padding-right: 68px;
    box-sizing: border-box;
    background-color: #ebebeb;
}

.filters-wrapper{
    width: 200px;
    margin: 0;
    margin-top: 199px;
    padding: 0;
}

fieldset{
    margin: 0;
    padding: 0;
}

.filter fieldset{
    border: none;
}

.filter legend{
    width: 100%;
    margin: 0;
    margin-bottom: 6px;
    padding: 0;
    padding-top: 10px;
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: 0.2px;
    text-align: left;
    color: #000000;
    border-top: 2px solid #000000;
}

.filter ul{
    list-style: none;
}

.filter-option label {
    position: relative;
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    user-select: none;
}

.filter ul li:last-child{
    margin-bottom: 40px;
}

.filter-input:disabled + label{
    color: #a6a6a6;
    opacity: 0.25;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -42px;
    top: 4px;
    width: 24px;
    height: 24px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
}

.filter-input-checkbox:checked + label::before {
    content: "";
    position: absolute;
    left: -42px;
    top: 4px;
    width: 28px;
    height: 28px;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
}

.filter-input-checkbox:hover + label::before {
    opacity: 0.6;
}

.filter-input-radio + label::before {
    content: "";
    position: absolute;
    left: -42px;
    top: 0;
    width: 17px;
    height: 17px;
    border: 4px solid #000000;
    border-radius: 50%;
}

.filter-input-radio:checked + label::after {
    content: "";
    position: absolute;
    top: 7px;
    left: -35px;
    width: 11px;
    height: 11px;
    background-color: #000000;
    border-radius: 50%;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:hover + label::after {
    opacity: 0.6;
}

.filter-button{
    width: 100%;
    z-index: 0;
}

.catalog{
    display: flex;
    justify-content: center;
    width: 972px;
    margin: 0;
    padding: 0;
    padding-top: 70px;
    padding-bottom: 136px;
}

.catalog-wrapper{
    margin: 0;
    padding: 0;
}

.catalog-list{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    padding-top: 69px;
    padding-left: 72px;
}

.catalog-item{
    position: relative;
    width: 360px;
    margin-right: 40px;
    margin-bottom: 46px;
}

.catalog-item-button{
    position: absolute;
    top: 30%;
    display: none;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 5;
}

.catalog-item-button .button{
    width: 200px;
    margin-bottom: 30px;
}

.catalog-item:hover .catalog-item-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.catalog-item img{
    margin-bottom: 23px;
}

.catalog-item:hover img{
    opacity: 0.7;
    background-color: #eeeeee;
}

.catalog-item:nth-child(2n){
    margin-right: 0;
}

.catalog-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.catalog-item-title{
    width: 263px;
    margin: 0;
    padding: 0;
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.2px;
    text-align: left;
    color: #000000;
}

.catalog-item-title a{
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: 0.2px;
    text-align: left;
    color: #000000;
}

.catalog-item-price{
    width: 80px;
    margin: 0;
    padding: 0;
    font-family: 'Gilroy Light', Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.2px;
    text-align: right;
    color: #464646;
}

.compare-button{
    font-size: 13px;
    font-weight: 300;
    line-height: 1.54;
    letter-spacing: 0.1px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}

.compare-button:hover{
    color: #000000;
}

.compare-button:focus{
    color: rgba(0, 0, 0, 0.2);
}

.new::after{
    position: absolute;
    top: 29px;
    right: 27px;
    width: 56px;
    height: 40px;
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    font-size: 14px;
    font-weight: 800;
    color: #000000;
    text-align: center;
    padding-top: 16px;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid #000000;
    border-radius: 50%;
    content: "new";
    opacity: 0.1;
}

.main-footer{
    margin: 0;
    padding: 0;
    padding-top: 65px;
    padding-bottom: 60px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.7);
    background-color: #464646;
}

.footer-wrapper{
    display: flex;
    flex-direction: column;
    width: 1160px;
}

.footer-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.footer-row-user{
    margin-bottom: 21px;
}

.footer-logo svg{
    fill:#ffc600;
}

.footer-user-navigation{
    margin: 0;
    padding: 0;
}

.footer-user-navigation li{
    margin-left: 48px;
}

.footer-user-navigation .logout-link{
    margin-left: 15px;
}

.footer-user-icon{
    width: 13px;
    height: 12px;
    margin-right: 6px;
    fill: #ffc600;
}

.footer-compare-icon{
    width: 10px;
    height: 10px;
    fill: #ffc600;
}

.footer-cart-icon{
    width: 12px;
    height: 12px;
    margin-right: 5px;
    fill: #ffc600;
}

.footer-row-site{
    margin-bottom: 63px;
}

.footer-row-social{
    position: relative;
    align-items: center;
}

.footer-row-social::before {
    position: absolute;
    top: 14px;
    left: 0;
    display: block;
    margin: 0;
    width: 80px;
    height: 7px;
    content: "";
    background-color: #ffc600;
}

.footer-row-site p{
    margin: 0;
    padding: 0;
}

.footer-site-navigation{
    width: 440px;
    margin: 0;
    padding: 0;
}

.footer-user-navigation,
.footer-site-navigation,
.footer-social{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.footer-user-navigation a{
    font: inherit;
    color: #ffffff;
    opacity: 0.7;
}

.footer-user-navigation a:hover{
    color: #ffffff;
    opacity: 1;
}

.footer-user-navigation a:focus{
    color: #ffffff;
    opacity: 0.3;
}

.footer-icon{
    opacity: 1;
}

.footer-user-navigation a:hover + .footer-icon{
    opacity: 0.6;
}

.footer-user-navigation a:focus + .footer-icon{
    opacity: 0.3;
}

.footer-site-navigation a{
    font-family: 'Gilroy ExtraBold', Arial, sans-serif ;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: 3.6px;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
}

.footer-site-navigation a:hover{
    color: #ffffff;
    opacity: 0.6;
}

.footer-site-navigation a:focus{
    color: #ffffff;
    opacity: 0.3;
}

.footer-phone{
    font: inherit;
    color: #ffffff;
}

.footer-phone:hover,
.footer-phone:focus{
    color: rgba(255, 255, 255, 0.6);
}

.footer-social{
    width: 150px;
    margin: 0 auto;
    padding: 0;
}

.footer-social a{
    opacity: 0.3;
}

.footer-social a:hover{
    opacity: 0.6;
}

.footer-social a:focus{
    opacity: 0.1;
}

.fb{
    margin-left: 20px;
}

.twitter{
    margin-right: -11px;
}

.footer-logo-htmlacademy:hover{
    opacity: 0.6;
}

.footer-logo-htmlacademy:focus{
    opacity: 0.3;
}

.modal{
    position: fixed;
}

.modal-write{
    top: 50%;
    left: 50%;
    display: none;
    width: 960px;
    height: 553px;
    margin-top: -277px;
    margin-left: -480px;
    padding: 80px 100px;
    background-color: #ffffff;
    box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
    box-sizing: border-box;
}

.modal-close{
    position: absolute;
    top: 22px;
    right: 22px;
    width: 55px;
    height: 55px;
    background-color: #f0c52e;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.5;
}

.modal-close::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 30px;
    background-color: #ffffff;
    transform: translate(-50%, -50%) rotate(45deg);
}

.modal-close::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 30px;
    background-color: #ffffff;
    transform: translate(-50%, -50%) rotate(135deg);
}

.modal-close:hover {
    opacity: 1;
}

.modal-close:focus {
    opacity: 0.3;
}

.write-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.write-form p{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.write-form label{
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.write-form input[type="text"],
.write-form input[type="email"]{
    width: 340px;
    padding-top: 19px;
    padding-bottom: 21px;
    padding-left: 20px;
    outline: none;
}

.write-form textarea{
    width: 740px;
    margin-bottom: 55px;
    padding-top: 19px;
    padding-left: 20px;
    padding-bottom: 84px;
    outline: none;
}

.write-form input[type="text"],
.write-form input[type="email"],
.write-form textarea{
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: rgba(70, 70, 70, 0.4);
    background-color: #f2f2f2;
    border: none;
}

.write-form input:hover,
.write-form textarea:hover{
    background-color: #eaeaea;
}

.write-form input:focus,
.write-form textarea:focus{
    color:#464646;
    outline: 3px solid #f7e296;
    background-color: #ffffff;
}

.write-form input:invalid{
    background-color: #f6dada;
}

.modal-map{
    top: 50%;
    left: 50%;
    display: none;
    width: 960px;
    height: 559px;
    margin-top: -280px;
    margin-left: -480px;
}

